.footer {
  height: 895px;
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }

  &__social_media {
    transition: 0.5s;
    &:hover {
      opacity: 0.5;
    }
  }
}
