.mockup {
  &__laptop {
    position: relative;

    &__background {
      width: 35rem;
      position: relative;
      overflow: hidden;
      z-index: 1;
      top: 11rem;

      @include mobile {
        width: 18rem;
        top: 0;
      }
    }

    &__background__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      top: 45%;
      left: 48.5%;
      transform: translate(-50%, -50%);

      @include mobile {
        top: 45%;
        left: 55%;
      }

      @include mobile_m{
        left: 49%;
      }

      @include mobile_l{
        left: 49%;
      }

      @include tablet {
        left: 49.5%;
      }
    }

    &__image {
      height: 16.5rem;
      width: 26.5rem;

      @include mobile {
        height: 8.9rem;
        width: 14.5rem;
      }

    }
  }

  &__phone {
    width: 19rem;
    height: auto;

    @include mobile {
      width: 10rem;
    }

    &__container {
      margin: 0 10rem 0 7rem;

      @include mobile {
        margin: 0;
      }
    }
  }
}
