.mockup {
  &__laptop {
    position: relative;

    &__background {
      width: 35rem;
      position: relative;
      overflow: hidden;
      z-index: 1;
      top: 11rem;
    }

    &__background__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      top: 45%;
      left: 48.5%;
      transform: translate(-50%, -50%);
    }

    &__image {
      height: 16.5rem;
      width: 26.5rem;
    }
  }

  &__phone {
    width: 19rem;
    height: auto;

    &__container {
      margin: 0 10rem 0 7rem;
    }
  }
}
