.projects {
  height: 1000px;
  background-color: $dark;
  display: flex;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: space-evenly;
  flex-direction: row;

  @include mobile {
    justify-content: center;
    height: 950px;
    flex-direction: column;
  }


  &__button {

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      @include mobile {
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 0;
        padding: 0 1rem;
      }
    }


    &__previous {
      rotate: 180deg;

      @include mobile {
      }
    }

    &__next {

      @include mobile {
      }
    }

    &__arrow {

      transition: 0.5s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    color: $white;
  }
}




.projects__container {
  display: flex;
  justify-content: space-between;
  color: $white;
  width: 80rem;

  @include mobile {
    width: 100%;
    flex-direction: column;
  }

  &__title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    width: 40rem;

    @include mobile {
      font-size: 2rem;
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40rem;

    @include mobile {
      height: 25rem;
    }
  }

  &__resume {
    text-align: justify;
    font-size: 1.5rem;


    @include mobile {
      font-size: 1rem;
    }
  }

  &.visible {
    display: flex;
  }

  &.hidden {
    display: none;
  }


  &__technologies {
    @include mobile {

    }
  }

  &__technologie {
    width: 50px;
    height: auto;
    margin: 10px;

    @include mobile {
      width: 25px;
      margin: 5px;
    }
  }

  &__button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;

    @include mobile {
      border-radius: 5px;
    }



  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: $dark;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
  }

  &:hover {
    color: #e8e8e8;
  }

  &:hover::before {
    width: 100%;
  }
}

}
