.projects {
  height: 1000px;
  background-color: $dark;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 0 2rem 0 2rem;
  justify-content: space-between;
  flex-direction: row;

  &__button {
    &__previous {
      rotate: 180deg;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    color: $white;
  }
}




.projects__container {
  display: flex;
  justify-content: space-between;
  color: $white;
  width: 70rem;

  &__title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    width: 40rem;
  }

  &.visible {
    display: flex;
  }

  &.hidden {
    display: none;
  }
}
